body {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size:16px;
	line-height:1.6;
	word-wrap:break-word
}

#main {
	max-width: 960px;
	margin: auto;
}

.body {
	margin: 1em 0;
}

table { text-align: center; margin: auto;}
td {
	padding: 0px 10px 0px 10px;
}
td:first-child {
	border-right-style:solid;
}
a.button { text-decoration: none; color: inherit; }
.button {
	font: inherit;
	-webkit-appearance: none;
	padding: 0.5em 1em;
	display: inline-block;
	border: 1px solid #b3b3b3;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	cursor: pointer;
	min-width: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	/* Internet Explorer */*background: #F6F6F6;
	background: #F6F6F6;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFF6F6F6, endColorstr=#FFf1f1f1);
	/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#F6F6F6),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#F6F6F6,#f1f1f1);
	background-image: -moz-linear-gradient(top,#F6F6F6,#f1f1f1);
	background-image: -o-linear-gradient(top,#F6F6F6,#f1f1f1);
	background-image: linear-gradient(top,#F6F6F6,#f1f1f1);
	text-decoration: none;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.button:hover, .button:focus {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
	border-color: #999999;
	color: black;
	/* Internet Explorer */*background: #F6F6F6;
	background: #F6F6F6;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFF6F6F6, endColorstr=#FFd6d6d6);
	/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#F6F6F6),to(#d6d6d6));
	background-image: -webkit-linear-gradient(top,#F6F6F6,#d6d6d6);
	background-image: -moz-linear-gradient(top,#F6F6F6,#d6d6d6);
	background-image: -o-linear-gradient(top,#F6F6F6,#d6d6d6);
	background-image: linear-gradient(top,#F6F6F6,#d6d6d6);
	text-decoration: none;
}
.button:active {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.2) inset;
}
.button:focus, .button:hover {
	box-shadow: 0 0 4px 2px #3366DD;
	-moz-box-shadow: 0px 1px 3px #3366DD;
	-webkit-box-shadow: 0px 1px 3px #3366DD;
}